body {
  width: 100%;
}

.main-menu, .topic-page {
  text-align: center;
}

.menu-items {
  display: inline-block;
}

.manual-item-header {

}

.manual-item-body {
  font-size: x-large;
  justify-items: center;
  width: 80%;
  margin: auto;
}

.manual-item-body > img {
  max-width: 50vw;
  max-height: 50vh;
}
