{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="{% static 'manuals/css/style.css' %}" rel="stylesheet">
</head>
<body id="body">
<div class="main-menu">
  <div class="navigation">
    <h1>
      <a href="{% url 'manuals:index' %}">Инструкции</a>
      >
      <a href="{% url 'manuals:pc-index' %}">Компьютер</a>
    </h1>
  </div>
  <hr>
  <ul class="menu-items">
    <li>
      <h2><a href="#libre-landscape">Офис :: Ландшафтный режим страницы</a></h2>
    </li>
    <li>
      <h2><a href="#smartphone-access-point">Смартфон :: Точка доступа</a></h2>
    </li>
  </ul>
  <hr>
  <div id="libre-landscape" class="manual-item">
    <div class="manual-item-header">
      <h2>Ландшафтный режим страницы</h2>
      <h3><a href="#body">[Наверх]</a></h3>
    </div>
    <div class="manual-item-body">
      <p>1. Открываем меню "Формат" и выбираем раздел "Стиль страницы":</p>
      <img src="{% static 'manuals/images/libre_landscape_menu.png' %}" alt="">
      <p>2. В появившемся окне переходим на вкладку "Страница" и выбираем там "Ориентация: альбомная":</p>
      <img src="{% static 'manuals/images/libre_landscape_window.png' %}" alt="">
    </div>
    <div class="manual-item-footer">
      <h3><a href="#body">[Наверх]</a></h3>
    </div>
  </div>
  <div id="smartphone-access-point" class="manual-item">
    <div class="manual-item-header">
      <h2>Смартфон как точка доступа Wi-Fi</h2>
      <h3><a href="#body">[Наверх]</a></h3>
    </div>
    <div class="manual-item-body">
      <p>1. Стягиваем верхнюю панель один раз:</p>
      <img src="{% static 'manuals/images/ap_start_arrow.JPG' %}" alt="">
      <p>2. И еще раз:</p>
      <img src="{% static 'manuals/images/ap_swiped_once_arrow.JPG' %}" alt="">
      <p>3. Нажимаем на название кнопки "Точка доступа":</p>
      <img src="{% static 'manuals/images/ap_swiped_twice_show_ap.JPG' %}" alt="">
      <p>4. И попадаем в настройки:</p>
      <img src="{% static 'manuals/images/ap_settings_arrows.JPG' %}" alt="">
      <p>5. Включаем точку доступа:</p>
      <img src="{% static 'manuals/images/ap_settings_enable.JPG' %}" alt="">
      <p>6. В появившемся окне подтверждаем, что мы выключаем имеющийся Wi-Fi:</p>
      <img src="{% static 'manuals/images/ap_disable_wifi_arrow.JPG' %}" alt="">
      <p>7. На ноутбуке открываем справа вверху меню настроек и нажимаем на текущую сеть Wi-Fi (там будет написано "Wi-Fi Off", если ноутбук сейчас не подключен к сети):</p>
      <img src="{% static 'manuals/images/ap_nb_settings.png' %}" alt="">
      <p>8. Нажимаем "Выбрать сеть":</p>
      <img src="{% static 'manuals/images/ap_nb_settings_select_network.png' %}" alt="">
      <p>9. В открывшемся окне находим сеть с названием как в пункте 4 (она может появиться не сразу), выбираем её, нажимаем "Подключиться" и вводим пароль из пункта 4:</p>
      <img src="{% static 'manuals/images/ap_nb_settings_ap_shows.png' %}" alt="">
      <p>10. Эти действия нужны только при первичной настройке. Потом достаточно в пункте 3 нажимать не на текст, а на саму иконку и точка доступа будет включаться (на ноутбуке может потребоваться вручную переключить с текущей сети на мобильную точку доступа)</p>
    </div>
    <div class="manual-item-footer">
      <h3><a href="#body">[Наверх]</a></h3>
    </div>
  </div>
</div>
</body>
</html>
